.form-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  max-width: 100%;
  margin: 50px auto 0;
  border: 0;
  text-align: left;
}

.guest-form {
  min-width: 330px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 10px rgba(64, 66, 72, 0.2);
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #4e566b;
  font-size: 1.3em;
  font-weight: 600;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-container form {
  width: 100%;
}

.guestbook {
  width: 100%;
  margin-left: 35px;
}

.entry {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 10px rgba(64, 66, 72, 0.1);
}

.entry i {
  margin-right: 15px;
  color: #d5d8e0;
  font-size: 1.5em;
}

.entry-message {
  margin-bottom: 5px;
  font-size: 1.1em;
}

.entry-name {
  margin-right: 20px;
  color: #99a4b9;
  font-style: italic;
  font-weight: 600;
}

.entry-date {
  color: #99a4b9;
  font-size: .9em;
  font-style: italic;
}
