.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    margin: 50px auto 0;
    border: 0;
    text-align: left;
}

.guest-form {
    min-width: 350px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px rgba(64, 66, 72, 0.2);
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #4e566b;
    font-size: 1.3em;
    font-weight: 600;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-container form {
    width: 100%;
}

.guestbook {
    width: 100%;
    margin-left: 35px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(64, 66, 72, 0.2);
    border-radius: 5px;
}

.entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    background: white;
    padding-bottom: 25px;
    border-bottom: 1px dotted #e1e1e1;
}

.entry:last-of-type {
    border-bottom: 0;
}

.entry i {
    margin-right: 15px;
    color: #d5d8e0;
    font-size: 1.5em;
}

.entry-message {
    margin-bottom: 7px;
    font-size: 1em;
    line-height: 1;
}

.entry-name {
    margin-right: 20px;
    color: #99a4b9;
    font-style: italic;
    font-weight: 600;
    font-size: .9em;
}

.entry-date {
    color: #99a4b9;
    font-size: .85em;
    font-style: italic;
}
