
.container {
    width: 900px;
    margin: 0 auto 80px;
}

h2 {
    margin: auto;
    text-align: left;
    padding: 15px 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #49516a;
}

.table-container {
    max-width: 100%;
    margin: 50px auto 0;
    width: 900px;
    height: fit-content;
}

.header-table {
    background: white;
    width: 100%;
    box-shadow: 0 0 15px rgba(64, 66, 72, 0.3);
    color: #353f4a;
    border-radius: 4px;
}

.header-table td {
    text-align: left;
    padding: 8px 15px;
    min-width: 141px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-table td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    max-width: 840px;
    font-size: .9em;
}

.header-table .value-cell span {
    width: 90%;
}

.header-table .value-cell {
    max-width: 538px;
}

.header-table th {
    padding: 20px 15px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 141px;
    color: #5e6888;
}