
.get-container {
    max-width: 100%;
    overflow: hidden;
    margin: 50px auto 0;
    width: 1000px;
    box-shadow: 0 0 15px rgba(64, 66, 72, 0.3);
    height: fit-content;
}

.header-table {
    background: white;
    width: 100%;
}

.header-table td {
    text-align: left;
    padding: 8px 15px;
    min-width: 141px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-table td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    max-width: 840px;
    font-size: .9em;
}

.header-table .value-cell span {
    width: 90%;
}

.header-table th {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 141px;
}