.container {
    width: 800px;
    max-width: 93%;
    height: fit-content;
    margin: 40px auto 0;
    padding: 50px;
    background: white;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
}

@media(max-width: 900px) {
    .container {
        width: unset;
    }
}

.user-avatar {
    width: 150px;
    margin-right: 20px;
}

.account-header {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

h2 {
    color: #4e566b;
    font-size: 2.2em;
    font-weight: 500;
    margin: 0 0 10px;
}

.account-details {
    text-align: left;
}

.user-bio {
    text-align: left;
    font-size: 1em;
    line-height: 1.4;
}

.meta {
    font-size: 1.1em;
    color: #4e566b;
    margin-bottom: 3px;
 }

.user-website {
    font-size: .9em;
    color: #69b4d9;
}

.fas {
    font-size: .9em;
    margin-right: 5px;
}