[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-dotenv = "*"
mysqlclient = "*"
django-debug-toolbar= "*"
django-static-precompiler = "*"

[requires]
python_version = "3.8"
