asgiref==3.6.0 ; python_version >= "3.9" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.9" and python_version < "4.0"
bytecode==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
cattrs==22.2.0 ; python_version >= "3.9" and python_version < "4.0"
ddsketch==2.0.4 ; python_version >= "3.9" and python_version < "4.0"
ddtrace==1.6.3 ; python_version >= "3.9" and python_version < "4.0"
django-environ==0.9.0 ; python_version >= "3.9" and python_version < "4"
django==4.1.4 ; python_version >= "3.9" and python_version < "4.0"
envier==0.4.0 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.0.4 ; python_version >= "3.9" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.9" and python_version < "4.0"
mysqlclient==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
packaging==22.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.21.12 ; python_version >= "3.9" and python_version < "4.0"
pyrsistent==0.19.2 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.21.0 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.9" and python_version < "4.0"
tenacity==8.1.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2022.7 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
xmltodict==0.13.0 ; python_version >= "3.9" and python_version < "4.0"
