header {
  position: relative;
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 40px 0;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
}

.nav-wrapper {
    max-width: 1000px;
    margin: 0 auto;
        position: relative;
}

.page-title {
    margin: 0 auto;
}

.path {
  margin: 0 auto;
  color: #5f6988;
}

.back-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    margin: auto;
    color: #69b4d9;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
