{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="description" content="This is a description">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="#5eb9d7">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="https://use.typekit.net/uqq2lcv.css">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="{{template}}">
    {% block content %}{%  endblock %}
</body>

</html>
