<div class="app">
    <div>
        <a href="https://hackersandslackers.com/" class="part-title disabled">Part 2</a>
        <h2 class="section-title disabled">Class Views</h2>
    </div>

    <ul>
        <li><a href="{% url 'class_views:generic_view' %}" class="disabled">Generic View</a></li>
        <li><a href="{% url 'class_views:template_view' %}" class="disabled">Template View</a></li>
        <li><a href="{% url 'class_views:protected_view' %}" class="disabled">Protected View</a></li>
        <li><a href="{% url 'class_views:redirect_view' %}" class="disabled">Redirect View</a></li>
        <li><a href="{% url 'class_views:contact_view' %}" class="disabled">Contact View</a></li>
    </ul>
</div>