<div class="app">
    <div>
        <a href="https://hackersandslackers.com/django-views-intro" class="part-title">Part 1</a>
        <h2 class="section-title">Basic Views</h2>
    </div>
    <ul>
        <li><a href="{% url 'simple_views:get_json' %}">JSON Response View</a></li>
        <li><a href="{% url 'simple_views:get_template' %}">Dynamic Page View</a></li>
        <li><a href="{% url 'simple_views:form' %}">Form View</a></li>
        <li><a href="{% url 'simple_views:users' %}">Users ("Get or 404")</a></li>
    </ul>
</div>