<div class="app">
    <div class="section-title-box">
        <a href="https://hackersandslackers.com/django-views-intro" class="part-title">Tutorial 1</a>
        <h2 class="section-title">Function-based Views</h2>
    </div>
    <ul>
        <li><a href="{% url 'simple_views:get_json' %}">JSON Response <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="{% url 'simple_views:get_template' %}">Dynamic Page Template <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="{% url 'simple_views:form' %}">Form Handling & Data Creation <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="{% url 'simple_views:users' %}">User Profiles <i class="fas fa-arrow-right"></i></a></li>
    </ul>
</div>