<div class="app">
    <div>
        <span class="part-title">Part 3</span>
        <h2 class="section-title">Model-related Class Views</h2>
    </div>
    <ul>
        <li><a href="{% url 'model_views:create' %}" class="disabled">Create Model View</a></li>
        <li><a href="{% url 'model_views:update' %}" class="disabled">Update Model View</a></li>
        <li><a href="{% url 'model_views:delete' %}" class="disabled">Delete Model view</a></li>
        <li><a href="{% url 'model_views:list' %}" class="disabled">List view</a></li>
        <li><a href="{% url 'model_views:detail' %}" class="disabled">Detail view</a></li>
    </ul>
</div>