header {
  position: relative;
  width: 1000px;
  margin: auto;
}

.page-title {
    margin: 50px auto 0;
}

.path {
  margin-bottom: 10px;
  color: #5f6988;
}

.back-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    margin: auto;
    color: #69b4d9;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
