.users-container {
    width: 900px;
    max-width: 100%;
    height: fit-content;
    margin: 30px auto 0;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(64, 66, 72, 0.3);
}

tr td:first-of-type,
tr th:first-of-type {
    min-width: unset;
    max-width: 60px;
}

.user-form {
    width: 900px;
    margin: 30px auto 0;
    padding: 0 0 30px;
    border: 0;
    background: white;
    box-shadow: 0 0 15px rgba(64, 66, 72, 0.3);
}

@media (max-width: 800px) {
    .user-form {
        width: unset;
    }
}

.user-form p {
    font-size: 1em;
    width: 400px;
    margin: 15px auto;
    line-height: 1.4;
}

.user-form code {
    background: rgba(145, 176, 211, .1);
    color: #547ea5;
    padding: 2px;
}

fieldset {
    margin: 0;
    border: 0;
}

label {
    width: 100%;
    text-align: center;
}

.users-table tr:nth-child(even) {
    /*background: #f6fafd;*/
    background: #fafdfe;
}

.users-table td {
    padding: 20px 15px;
    line-height: 1;
    min-width: unset;
}

.users-table th {
    min-width: unset;
    padding: 25px 15px;
}

.user-name span {
    font-size: 1em;
}

.user-name a {
    color: #5e9ab7;
}

.user-profile-link {
    max-width: 60px;
}

input[type="number"] {
    -webkit-appearance: none;
    width: 70px;
    margin: 0;
    padding: 4px;
    height: 30px;
    border: 1px solid #d6dbde;
    border-right: 0;
    color: grey;
    border-radius: 3px 0 0 3px;
    outline: none;
    background: #ebeff3;
    font-size: 1.5em;
    text-align: center;
    transition: all .2s ease-out;
}

input[type="number"]:hover {
    border-color: #6baaf2 !important;
    background: #dde9f5 !important;
    cursor: text !important;
}

input[type="number"]:hover::placeholder {
    color: #8ba6c7 !important;
}

input[type="number"]:focus {
    border-color: #6baaf2 !important;
    background: white !important;
}

input[type="submit"] {
    -webkit-appearance: none;
    width: 60px;
    height: 40px;
    border: 1px solid #5db9d7;
    border-radius: 0 3px 3px 0;
    color: white;
    background: #5db9d7;
    font-size: .95em;
    margin: 0;
    text-transform: uppercase;
    transition: all .2s ease;
}

input[type="submit"]:hover {
    background: white;
    color: #5db9d7;
    cursor: pointer;
}

.messages {
    position: relative;
}

ul {
    margin: 0;
    padding: 0 !important;
}

.messages .success {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    border-radius: 0;
    background: #c7e3c0;
    color: #70896a;
    font-size: 1em;
    font-weight: 500;
    list-style: none;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.get-user-fieldset {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.fetch-user-title {
    padding-top: 25px;
    margin: 0 0 10px;
    font-weight: 500;
    color: #5e6888;
    text-transform: uppercase;
    font-size: 1.25em;
}
