.card {
    width: 1000px;
    max-width: 95%;
    height: fit-content;
    margin: 80px auto 0;
    padding: 50px;
    background: white;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #4e566b;
  font-size: 1.5em;
  font-weight: 600;
    text-align: left;
}

