{% extends 'layout.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '' %}">
{% endblock %}


{% block content %}
    <div class="viewport">
        {% include 'header.html' %}
        <div class="form-container">

            <div class="guest-form">
                <h2>Get in touch!</h2>
                <div class="form-wrapper">
                    <form action="{% url 'simple_views:form' %}" method="post">
                        {% csrf_token %}
                        {% include 'messages.html' %}
                        {% for field in form %}
                            <fieldset>
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </fieldset>
                        {% endfor %}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}