{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}} - Hackers and Slackers</title>
  <meta name="description" content="Function and class-based Django view repository." />
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="theme-color" content="#5eb9d7">
  <meta property="og:site_name" content="Django Views Tutorial - Hackers and Slackers" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Django Views Tutorial - Hackers and Slackers" />
  <meta property="og:description" content="Function and class-based Django view repository." />
  <meta property="og:url" content="https://django.hackersandslackers.app/" />
  <meta property="og:image" content="https://hackersandslackers-cdn.storage.googleapis.com/2020/04/django-views-1.jpg" />
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="523" />
  <meta name="twitter:title" content="Django Views Tutorial - Hackers and Slackers" />
  <meta name="twitter:url" content="https://django.hackersandslackers.app/" />
  <meta name="twitter:description" content="Function and class-based Django view repository." />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://hackersandslackers-cdn.storage.googleapis.com/2020/04/django-views-1.jpg" />
  <link rel="apple-touch-icon" href="{% static 'homepage/img/logo.png' %}">
  <link rel="shortcut icon" href="{% static 'homepage/img/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'homepage/css/styles.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'homepage/css/header.css' %}" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/uqq2lcv.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {% block extra_css %}{%  endblock %}
</head>

<body class="{{template}}">
    {% block content %}{%  endblock %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5eb6b9455292fb7ce5ffe182');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body>

</html>
