.homepage {
    text-align: center;
}

.site-title {
    color: #5f6988;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    margin: 20px 0 3px;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    border-bottom: 1px solid #d7d7d7;
    color: #5f6988;
    padding-bottom: 5px;
    flex-grow: unset;
    text-align: left;
    margin-top: 0;
}

.subtitle {
    font-size: 1em;
}

@media (max-width: 800px) {
    .section-title {
        font-size: 1.1em !important;
    }
}

@media (max-width: 600px) {
    .apps-container {
        flex-direction: column;
    }

    .app {
        width: 100% !important;
    }
}

.part-title {
    text-align: left;
    color: #8d97bc;
    display: block;
    font-weight: 600;
    font-size: .9em;
}

.apps-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
}

.app {
    width: 28%;
}

ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

li {
    margin-bottom: 7px;
}

.disabled {
    font-weight: 400;
}