.homepage {
    text-align: center;
}

.site-title {
    color: #5f6988;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
    margin: 20px 0 3px;
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    font-size: 1.3em;
    font-weight: 500;
    color: #5f6988;
    text-align: left;
    margin: 0;
}

.section-title-box {
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
}

.section-title-box.disabled {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.subtitle {
    font-size: 1em;
}

@media (max-width: 800px) {
    .section-title {
        font-size: 1.1em !important;
    }
}

@media (max-width: 600px) {
    .apps-container {
        flex-direction: column;
    }

    .app {
        width: 100% !important;
    }
}

.part-title {
    text-align: left;
    color: #8d97bc;
    display: block;
    font-weight: 600;
    font-size: .9em;
}

.apps-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
}

.app {
    width: 28%;
}

ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

li {
    margin-bottom: 10px;
    font-weight: 600;
}

.disabled {
    font-weight: 400;
}

.tooltip-toggle {
    cursor: pointer;
    position: relative;
}

svg {
    height: 18px;
    width: 18px;
}

.tooltip-toggle::before {
    position: absolute;
    top: -80px;
    left: -80px;
    background-color: #2B222A;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 1rem;
    text-transform: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 160px;
}

.tooltip-toggle::after {
    position: absolute;
    top: -12px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2B222A;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
}

.tooltip-toggle::before, .tooltip-toggle::after {
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.tooltip-toggle:focus::before, .tooltip-toggle:focus::after, .tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
    opacity: 1;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
