html {
    height: 100%;
}

body {
    font-family: proxima-nova, sans-serif;
    text-align: center;
    background: #e1eaf5;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.viewport {
    width: 100%;
    margin-right: 30px;

}

#djDebug #djDebugToolbar {
    position: relative !important;
    height: 100%;
    width: 250px !important;
}

h1 {
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    color: #5f6988;
    margin: 20px 0 3px;
    font-size: 2em;
    line-height: 1;
}

h2 {
    font-size: 1.3em;
    font-weight: 500;
    border-bottom: 1px solid #d7d7d7;
    color: #5f6988;
    padding-bottom: 5px;
    flex-grow: unset;
    text-align: left;
}

p {
    color: #5f6988;
    margin: 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #79aec8;
    font-weight: 500;
}

.logo {
    width: 50px;
}

.card {
    background: white;
    width: 1000px;
    margin: 80px auto 0;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
    padding: 50px;
    height: fit-content;
    max-width: 95%;
}

@media(max-width: 800px) {
    .card {
        padding: 50px 0;
    }

    .apps-container {
        justify-content: space-between;
    }

    .app {
        width: 25%;
    }

    h2 {
        font-size: 1.1em;
    }
}

.apps-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.app {
    width: 22%;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .viewport {
        margin: 0 auto;
        max-width: 93%;
    }

    #djDebug {
        display: none !important;
    }

}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}

.homepage {
    text-align: center;
}
