{% extends 'layout.html' %}
{% load static %}


{% block extra_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/header.css' %}"
    />
    <link
       rel="stylesheet"
       type="text/css"
       href="{% static 'simpleviews/css/get.css' %}"
    />
{% endblock %}


{% block content %}
    <div class="viewport">
        {% include 'partials/header.html' %}
        <div class="container">
            <div class="table-container">

                <h2>Request Headers</h2>
                <table class="header-table">
                    <thead>
                    <tr>
                        <th>Header Key</th>
                        <th>Header Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for header in received_headers %}
                        <tr>
                            <td class="key-cell">
                                <span>{{ header.0 }}</span>
                            </td>
                            <td class="value-cell">
                                <span>{{ header.1 }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-container">
                <h2>Request Cookies</h2>
                <table class="header-table">
                    {% for cookie in client_cookies %}
                        <tr>
                            <td class="key-cell">
                                <span>{{ cookie.0 }}</span>
                            </td>
                            <td class="value-cell">
                                <span>{{ cookie.1 }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}